{% extends 'base1.html' %}
{% block search-bar %}

    <form class="container d-flex" action="{% url 'blog:all_posts' %}" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    {{ search_result }}

<p></p>

{% endblock %}

{% block content %}
<main class="container">
    <div class="row mb-2">
    {% for post in object_list %}
        <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">{{ post.title}}</h3>
                  <div class="mb-1 text-muted">{{ post.date }}</div>
                  <p class="mb-auto">{{ post.text|linebreaks|truncatewords:10 }}</p>
                  <a href="{% url 'blog:post' post.pk %}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    {% if request.user == post.author %}
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#b6d7a8"/>
                            </svg>
                    {% else %}
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/></svg>
                    {% endif %}

                </div>
              </div>
            </div>

{% endfor %}
    </div>
{% endblock %}
