{% extends 'base.html' %}
{% block button %}
    <form method="post">
        {% csrf_token %}
        <p class="lead mb-0"><button class="btn btn-sm btn-outline-secondary" >Delete</button></p>
    </form>
{% endblock button %}


{% block content %}
    <style>

    p.content {
        padding: 1em 1em;

    }

    .container1 {

    }

    .container2 {
        border: 2px solid #17a950;
        background-color: #fcfcfc;
        border-radius: 4px;
        padding: 10px;
        margin: 10px 0;
    }

    .container1 span {
        margin-top: 20px;
        margin-bottom: 2px;
        display: inline-block;
        font-size: 1rem;
        color: #000;
        font-weight: 700;
    }

    h3 {
        color: #000;
    }

    p span {
        line-height: 2px;

    }

    a {
        border-bottom: none;
    }

</style>
<div class="container">
    <div class="container1">
              <div class="container2">

                <p><span>{{ object.author }}</span>: {{ object.text }}</p>
                  {{ object.date }}
              </div>
          </div>
      </div>
{% endblock content %}