{% extends "base.html" %}
{% block forms %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="form-group">
    <div class="form-error">{{ form.non_field_errors }}</div>
      {% for f in form %}
    <label for="{{ f.id_for_label }}">{{f.label}}</label>
          <p>{{ f }}</p>
    <small id="emailHelp" class="form-text text-muted">{{ f.errors }}</small>
      {% endfor %}
  </div>

  <p class="lead mb-0"><button type="submit" class="btn btn-sm btn-outline-secondary" >Sign Up</button></p>
</form>

{% endblock %}